<div class="row">
  <aside class="col-md-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @topic_name %></h3>
      </div>
    </div>
    <%= form_for @form, url: {action: :all_process} do |f| %>
        <p>
          <%= f.label :post_from, '表示期間:' %><br>
          <%= f.datetime_select :post_from, :use_month_numbers => true, :default => Time.now - 1.month %> 〜
          <%= f.datetime_select :post_to, :use_month_numbers => true %>
        </p>
        <p>
          <%= f.submit '検索する' %>
        </p>
    <% end %>
  </aside>
  <div class="col-md-8 col-xs-12">
    <h1><%= @from %>～<%= @to %>の集計</h1>

    <%= render 'post_list', post_data: @post_data %>

    <%= paginate @posts %>
  </div>
</div>