<div class="row">
  <aside class="col-md-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
    </div>
    <ul class="media-list">
      <li class="media">
        <div class="media-body">
          <p><%= link_to 'すべてのトピックの集計', topic_all_path %></p>
        </div>
      </li>
      <li class="media">
        <div class="media-body">
          <p><%= link_to 'ユーザーごとの集計', topic_user_path %></p>
        </div>
      </li>
      <li class="media">
        <div class="media-body">
          <p>データベース使用状況</p>
          <p><%= @record_count %>/10000</p>
        </div>
      </li>
      <li class="media">
        <!--
        <div class="media-body">
          <p><%#= link_to 'すべてのトピックの情報を最新に更新する', update_latest_path, remote: true %></p>
          <p>この作業には時間がかかります</p>
        </div>
        -->
      </li>
    </ul>
  </aside>
  <div class="col-md-8 col-xs-12">
    <ul class="media-list">
      <% @topics.each do |topic| %>
          <li class="media">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h1 class="panel-title"><%= topic['name'] %></h1>
              </div>
              <div class="panel-body">
                <div class="media-body">
                  <div>
                    <p>
                      <%= link_to '詳細', topic_path(:id => topic['id']), class: 'btn btn-sm btn-primary' %>
                      <%= link_to 'typetalkで見る', "https://typetalk.in/topics/#{topic['id']}", :target => ["_blank"], class: 'btn btn-sm btn-primary' %>
                      <span id="follow_<%= topic['id'] %>">
                      <% if topic['register'] == '1' %>
                      <%= link_to 'フォロー中', topics_unfollow_path(:id => topic['id']), class: 'btn btn-sm btn-primary active', method: :post, remote: true %>
                      <% else %>
                      <%= link_to 'フォローする', topics_follow_path(:id => topic['id']), class: 'btn btn-sm btn-default', method: :post, remote: true %>
                      <% end %>
                      </span>
                    </p>
                    <p>最終データ取得日：<%= topic['updated_at'] %></p>
                    <% unless topic['from'].nil? and topic['to'].nil? %>
                    <p id="from_to">投稿保存期間：<%= topic['from'].in_time_zone %> ～ <%= topic['to'].in_time_zone %></p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>