<div class="row">
  <aside class="col-md-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
    </div>
    <%#= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-md-8 col-xs-12">
    <ul class="media-list">
      <%# @topics.each do |topic| %>
      <li class="media">
        <div class="media-left">
          <!--<img class="media-object img-rounded" src="<%#= @imageUrl[topic.id] %>" alt="" height="50" width="50">-->
        </div>
        <div class="media-body">
          <p><%= link_to 'すべてのトピックの集計', topic_all_path %></p>
        </div>
        <div class="media-body">
          <p><%= link_to 'ユーザーごとの集計', topic_user_path, remote: true %></p>
        </div>
      </li>
      <% @name.each do |name| %>

          <%# user = topic['name'] %>
          <li class="media">
            <div class="media-left">
              <!--<img class="media-object img-rounded" src="<%#= @imageUrl[topic.id] %>" alt="" height="50" width="50">-->
            </div>
            <div class="media-body">
              <div>
                <!--<p><%#= @name[topic.id] %></p>-->
                <p><%= name['name'] %></p>
                <p><%= link_to '詳細', topic_path(:id => name['id']) %></p>
                <!--<p><%#= link_to 'typetalkで見る', "https://typetalk.in/topics/#{topic.topicId}", :target => ["_blank"] %></p>-->
                <p><%= link_to 'typetalkで見る', "https://typetalk.in/topics/#{name['id']}", :target => ["_blank"] %></p>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>