<div class="row">
  <aside class="col-md-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
    </div>
  </aside>
  <div class="col-md-8 col-xs-12">
    <ul class="media-list">
      <li class="media">
        <div class="media-body">
          <p><%= link_to 'すべてのトピックの集計', topic_all_path %></p>
        </div>
      </li>
      <li class="media">
        <div class="media-body">
          <p><%= link_to 'ユーザーごとの集計', topic_user_path %></p>
        </div>
      </li>
      <li class="media">
        <div class="media-body">
          <p><%= link_to 'すべてのトピックの情報を最新に更新する', update_latest_path, remote: true %></p>
          <p>この作業には時間がかかります</p>
        </div>
      </li>
      <% @name.each do |name| %>
          <li class="media">
            <div class="media-left">
              <!--<img class="media-object img-rounded" src="<%#= @imageUrl[topic.id] %>" alt="" height="50" width="50">-->
            </div>
            <div class="media-body">
              <div>
                <p><%= name['name'] %></p>
                <p><%= link_to '詳細', topic_path(:id => name['id']), class: 'btn btn-sm btn-primary' %></p>
                <p><%= link_to 'typetalkで見る', "https://typetalk.in/topics/#{name['id']}", :target => ["_blank"], class: 'btn btn-sm btn-primary' %></p>
                <p><%= link_to '過去の投稿を取得する', past_post_path(:id => name['id']), class: 'btn btn-sm btn-primary', method: :post, remote: true %>
                  最終更新日：<%= name['updated_at'] %></p>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>